.navbar {
  background-color: rgb(77, 74, 74);
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1500px;
  padding: 0 20px;
}



.nav-menu {
  display: flex;
  align-items: center;
}

.nav-menu-items {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.nav-links {
  color: white;
  text-decoration: none;
  padding: 0.5rem 1rem;
  transition: color 0.3s ease;
}
.nav-logo {
  color: white;
  text-decoration: none;
  font-size: 2rem;
}

.nav-links:hover {
  color: gray;
  text-decoration: none;
}
.nav-logo:hover{
  text-decoration: none;
  color: gray;
}

.nav-item {
  margin-right: 1rem;
}

.nav-icon {
  display: none;
  color: white;
  cursor: pointer;
}

@media screen and (max-width: 960px) {
  .nav-menu {
    position: absolute;
    top: 80px;
    left: -100%;
    width: 100%;
    background-color: black;
    transition: left 0.3s ease;
    z-index: 1;
  }

  .nav-menu.active {
    left: 0;
  }

  .nav-icon {
    display: block;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(-100%, -50%);
    font-size: 1.5rem;
  }

  .nav-links {
    width: 100%;
    text-align: center;
    padding: 1rem;
    display: table;
  }
  .nav-logo {
    color: white;
    text-decoration: none;
    font-size: 2rem;
  }

}
